---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

export interface Props {
  variant?: "h2" | "h3";
  id: string;
  data: any;
  filePath?: string;
  collection: "blog" | "questions";
}

const { variant: Heading = "h2", id, data, filePath, collection } = Astro.props;

const isBlogPost = collection === "blog";
const title = isBlogPost ? data.title : data.question;
const description = isBlogPost ? data.description : data.answer;
const href = isBlogPost ? getPath(id, filePath) : `/questions/${id}`;
---

<li class="my-6">
  <a
    href={href}
    class:list={[
      "inline-block text-lg font-medium text-accent",
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading
      style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
    >
      {title}
    </Heading>
  </a>
  <Datetime pubDatetime={data.pubDatetime} modDatetime={isBlogPost ? data.modDatetime : undefined} />
  <p>{description}</p>
</li>
